<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Threat Detection Application</title>
	<link rel="stylesheet" type="text/css" href="/static/css/table.css">
	<script type='text/javascript' src='/static/js/jquery-1.8.2.js'></script>
	<script type='text/javascript'>
		
			function QueryData(){
				var d = new Date();
				var n = d.toString();
				document.getElementById("timediv").innerHTML = n
				$.ajax({
                        url : "/fetch_web/", 
                        type : "POST",
                        dataType: "html",
						data : {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(result_web) {
						    document.getElementById("result_web").innerHTML = result_web
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
					
				$.ajax({
                        url : "/fetch_web_item/", 
                        type : "POST",
                        dataType: "html",
						data : {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(result_web_item) {
							if(result_web_item != ""){
								var temp = result_web_item.split("||");
								var x = temp.length;
								var myForm = document.Form1; 
								var mySel = myForm.select1; 
								var myOption;
								
								for	(index = 0; index < x; index++) {
									myOption = document.createElement("Option"); 
									myOption.text = temp[index]; 
									myOption.value = "web_item"; 
									mySel.add(myOption);
								}
							}
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
				$.ajax({
                        url : "/fetch_db/", 
                        type : "POST",
                        dataType: "html",
						data : {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(result_web) {
						    document.getElementById("result_db").innerHTML = result_web
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
				
				$.ajax({
                        url : "/fetch_db_item/", 
                        type : "POST",
                        dataType: "html",
						data : {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(result_db_item) {
							if(result_db_item != ""){
								var temp = result_db_item.split("||");
								var x = temp.length;
								var myForm = document.Form2; 
								var mySel = myForm.select2; 
								var myOption;
								
								for	(index = 0; index < x; index++) {
									myOption = document.createElement("Option"); 
									myOption.text = temp[index]; 
									myOption.value = "db_item"; 
									mySel.add(myOption);
								}
							}
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
					
				setTimeout(QueryData, 1000);
			}		    
	</script>
</head>
<body onload="QueryData()">
{% csrf_token %} 
<table bgcolor="#7FEACF" style="width:100%">
	<tr>
		<td style="width:5%">
			<img src="/static/images/radar-icon-001-450x450.png" style="width:75px;height:75px;">
		</td>
		<td style="width:95%" >
			<p style="font-family:verdana;font-size:160%">Threat Detection Application Dashboard</p>
		</td>
	</tr>
</table>
<hr>
<!-- Table goes in the document BODY -->
<div id="timediv" align="right"></div>
<table class="hovertable">
<tr>
	<th>Web Server Role</th>
</tr>
</table>
<br>
<div id="result_web">
<table class="hovertable">
<tr><th>Server Name </th><th>Log Time</th><th>Current Status</th><th>Action</th></tr>

<tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
	<td>webserver1</td><td>unknown</td><td>unknown</td><td>fetching data</td>
</tr>
</table>
</div>
<br>

<form name="Form1">
<select name="select1" size="5" style="width:100%">
</select>
</form>
<br>
<br>

<table class="hovertable">
<tr>
	<th>Database Role</th>
</tr>
</table>
<br>
<div id="result_db">
<table class="hovertable">
<tr><th>Server Name </th><th>Log Time</th><th>Current Status</th><th>Action</th></tr>

<tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
	<td>webserver1</td><td>unknown</td><td>unknown</td><td>fetching data</td>
</tr>
</table>
</div>
<br>
<form name="Form2">
<select name="select2" size="5" style="width:100%">
</select>
</form>
<br>



</body>
</html>
